* {
  font-family: sans-serif; /* Change your font family */
}

$color-light-blue: #ADD8E6;
$color-black: #000000;
$color-white: #dddddd;
$min-width: 100%;

.organisation-bus-details {
  min-width: $min-width;
}

.content-bus-details-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: $min-width;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-bus-details-table thead tr {
  background-color: $color-light-blue;
  color: $color-black;
  text-align: left;
  font-weight: bold;
}

.content-bus-details-table th,
.content-bus-details-table td {
  padding: 12px 15px;
}

.content-bus-details-table tbody tr {
  border-bottom: 1px solid $color-white;
}

.content-bus-details-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-bus-details-table tbody tr:last-of-type {
  border-bottom: 2px solid $color-light-blue;
}

